@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MeuTeste ASP.NET</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo a esse MeuTeste ASP.NET</h2>
        <p>
            MeuTeste ASP.NET é um teste de desenvolvedor que
            demonstra uma applicação web ASP.NET MVC 5 usando
            Entity Framework 6 como #ORM.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Construção inicial do zero</h2>
        <p>Não tente reproduzir esse teste xD kkk</p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project.</p>
        <p><a class="btn btn-default" href="https://webpifeed.blob.core.windows.net/webpifeed/Partners/ASP.NET%20MVC%20Application%20Using%20Entity%20Framework%20Code%20First.zip">Download &raquo;</a></p>
    </div>
</div>